/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h2 {
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  font-weight: 500;
  
}

.vert-text h3 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
 
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 500;

  font-size: 1.0em;
}




/* bearclaw font */

@font-face {
	font-family: 'bearpaw';
	src: url('../bearpaw/BEARPAW_-webfont.eot');
	src: url('../bearpaw/BEARPAW_-webfont.ttf') format('truetype'),
	url('../bearpaw/BEARPAW_-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
    
@font-face {
    font-family: 'truecrime';
	src: url('../Truecrimes/webfonts/truecrimesregular/true-crimes-webfont.eot');
	src: url('../Truecrimes/webfonts/truecrimesregular/true-crimes-webfont.ttf') format('truetype'),
	url('../Truecrimes/webfonts/truecrimesregular/true-crimes-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
    

	


/* Full Page Image Header Area */

.formborder{
	border:2px solid black;
	}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headerclouds {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* sign up page container */

.container-signup {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width:500px;
  
  margin-bottom:45px;
}

.container-signup:before,
.container-signup:after {
  display: table;
  content: " ";
}

.container-signup:after {
  clear: both;
}

.container-signup:before,
.container-signup:after {
  display: table;
  content: " ";
}

.container-signup:after {
  clear: both;
}

@media (min-width: 768px) {
  .container-signup {
    max-width: 500px;
  }
  }
  
@media (min-width: 992px) {
  .container-signup {
    max-width: 500px;
  }
  
  }
  
@media (min-width: 1200px) {
  .container-signup {
    max-width: 500px;
  }
  
  }
  
/* end signup container */










/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

i.service-icon:hover {
  font-size: 68px;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/section-two.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Footer */

footer {
  padding: 10px 0;
}
